@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
	src: url('../fonts/HvnIconFont.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
	font-family: 'hvn-icons';
	font-display: block
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Red Hat Display' !important;
}

#maincontent {

	width: 100%;
	
	min-height: 100vh;
	box-sizing: border-box !important;
}

@media (max-width: 368px) {
	.store-container {padding: 0px 10px;}	
}